[submodule "depend/cryptopp"]
	path = depend/cryptopp
	url = https://github.com/lichuan/cryptopp.git
[submodule "depend/rapidjson"]
	path = depend/rapidjson
	url = https://github.com/lichuan/rapidjson.git
